@model CinemaViewModel

<div class="form-group text-center">
    <img id="LogoPerview" class="border-info rounded-circle" style="max-width: 150px" src="@Model.Logo" />
</div>

<div class="form-group">
    <label asp-for="Logo" class="control-label"></label>
    <input asp-for="Logo" class="form-control" readonly />

</div>
<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" readonly />

</div>
<div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <input asp-for="Description" class="form-control" readonly />

</div>